//inbox.jade
extends layout

block topLeftRegion
	a(class='blue-theme active',href='/compose') Compose
	
block bottomLeftRegion
	table
		tr
			td
				a(class='blue-theme',href='/inbox') Inbox
		tr
			td
				a(class='blue-theme',href='/outbox') Outbox
		tr
			td
				a(class='blue-theme',href='/yp') Yellow Page
				
block bottomRightRegion
	form(action='compose_send', method='post')
		table
			tr
				td(class='bold') To:
				td
					select(name='select-compose')
						each record, obj in etat.yp
							option(value=obj) #{obj}
			tr
				td &nbsp;
				td &nbsp;
			tr
				td(class='bold') Message:
				td
					textarea(name='textarea-compose', cols='40', rows='5', placeholder='Type your message here...', required)
			tr
				td
				td
					input(class='blue-theme', type='submit', value='Send')

									