//inbox.jade
extends layout

block topLeftRegion
	a(class='blue-theme',href='/compose') Compose
	
block bottomLeftRegion
	table
		tr
			td
				a(class='blue-theme active',href='/inbox') Inbox
		tr
			td
				a(class='blue-theme',href='/outbox') Outbox
		tr
			td
				a(class='blue-theme',href='/yp') Yellow Page
				
block bottomRightRegion
	table
		thead
			tr
				td From
				td Date
				td Actions
		tbody
			each record, i in etat.inbox
				tr
					td #{record.from}
					td #{record.date}
					td 
						a(href='/inbox_read_message?from=' + record.from + '&date=' + record.date + '&msg=' + record.msg) Read 
						| | 
						a(href='#', onclick='onDeleteMessage(\"' + '/inbox_delete_message?from=' + record.from + '&date=' + record.date + '\")') Delete
									