//layout.jade
doctype html
html
	head
		title= title
		meta(name='author',content=authors)
		link(rel='stylesheet',type='text/css',href='lib/bootstrap.min.css')
		link(rel='stylesheet',type='text/css',href='css/courriel.css')
		script(src='lib/jquery.min.js')
		script(src='lib/bootstrap.min.js')
		script(src='js/courriel.js')
	body
		table(class='main-frame')
			tr(class='top-row')
				td(id='top-left-region')
					block topLeftRegion
				td(id='top-right-region') #{title}
			tr
				td(id='bottom-left-region')
					block bottomLeftRegion
				td(id='bottom-right-region')
					div(id='logout')
						a(href='/logout') Logout
					include ./warning.jade
					block bottomRightRegion
									