//outbox_message.jade
extends layout

block topLeftRegion
	a(class='blue-theme',href='/compose') Compose
	
block bottomLeftRegion
	table
		tr
			td
				a(class='blue-theme',href='/inbox') Inbox
		tr
			td
				a(class='blue-theme active',href='/outbox') Outbox
		tr
			td
				a(class='blue-theme',href='/yp') Yellow Page
				
block bottomRightRegion
	table
		tr
			td(class='bold') To:
			td #{to}
		tr
			td(class='bold') Date:
			td #{date}
		tr
			td(class='bold') Message:
			td #{msg}
