//inbox.jade
extends layout

block topLeftRegion
	a(class='blue-theme',href='/compose') Compose
	
block bottomLeftRegion
	table
		tr
			td
				a(class='blue-theme',href='/inbox') Inbox
		tr
			td
				a(class='blue-theme',href='/outbox') Outbox
		tr
			td
				a(class='blue-theme active',href='/yp') Yellow Page
				
block bottomRightRegion
	table
		thead
			tr
				td Address
				td Name
				td Actions
		tbody
			each record, obj in etat.yp
				tr
					td #{obj}
					td #{etat.yp[obj].name}
					td 
						a(href='/yp_edit?user=' + obj + '&name=' + etat.yp[obj].name) Edit | 
						a(href='/yp_delete?user=' + obj) Delete
			tr
				td
				td
					a(class='blue-theme active',href='/yp_add') Add
				td
