//yp_add.jade
extends layout

block topLeftRegion
	a(class='blue-theme',href='/compose') Compose
	
block bottomLeftRegion
	table
		tr
			td
				a(class='blue-theme',href='/inbox') Inbox
		tr
			td
				a(class='blue-theme',href='/outbox') Outbox
		tr
			td
				a(class='blue-theme active',href='/yp') Yellow Page
				
block bottomRightRegion
	form(name='form-add', action='/yp_add_save', method='post')
		table
			tr
				td(class='bold')
					label(for='text-address') Address:
				td
					select(name='select-address')
						each record, obj in users
							option(value=obj) #{obj}
				td(class='bold')
					label(for='text-name') Name:
				td
					input(type='text', name='text-name', value='')
			tr
				td
				td
					input(class='blue-theme', type='submit', value='Add')
