//yp_edit.jade
extends layout

block topLeftRegion
	a(class='blue-theme',href='/compose') Compose
	
block bottomLeftRegion
	table
		tr
			td
				a(class='blue-theme',href='/inbox') Inbox
		tr
			td
				a(class='blue-theme',href='/outbox') Outbox
		tr
			td
				a(class='blue-theme active',href='/yp') Yellow Page
				
block bottomRightRegion
	form(action='yp_edit_save', method='post')
		table
			tr
				td(class='bold')
					label(for='text-address') Address:
				td
					input(type='text', name='text-address', value= address, disabled, required)
			tr
				td(class='bold')
					label(for='text-name') Name:
				td
					input(type='text', name='text-name', value= name, placeholder='Enter the name', required)
			tr
				td
				td
					input(class='blue-theme', type='submit', value='Save')
